nav {
    margin-bottom: 2rem;
.header {
    height: 64px;
    width: 100%;
    padding: 0.8rem 3.5rem;
    box-sizing: border-box;
    border-bottom: 1px solid #383a48;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 600px) {
        padding: 0.8rem 1rem;
    }

    // background: #355C7D;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: #2b2e3b;
    transition: all 300ms ease-in-out;

    .menu-canvas {
        outline: none;
        border: none;
        background: transparent;
        color: #f2f2f2;
        font-size: 1.5rem;
        z-index: 999;
    }
    .logo {
        img {
            width: 50px;
            @media screen and (max-width: 420px) {
                width: 70px;
            }
        }
        position: absolute;
        left: 50%;
        margin-left: -15px;
        @media screen and (max-width: 600px) {
            position: relative;
            left: auto;
            margin-left: 10px;
        }
    }
    .nav-content {
        width: 330px;
        .nav-items {
            display: flex;
            justify-content: flex-end;
            max-width: 400px;
            margin-top: 6px;
            li {
                border-bottom: 2px solid transparent;
                flex: 0 0 60px;
                padding-bottom: 12px;
                text-align: center;
                font-size: 1.5rem;
                color: #fafafa;
                &:hover {
                    color: #e2e2e2;
                    cursor: pointer;
                }
            }
        }
    }
}

    .off-canvas {
        padding-left: 290px;
        position: relative;
        @media screen and (max-width: 580px) {
            padding-left: 3.5rem;
            z-index: 888;
            .menu-canvas {
                position: absolute;
                z-index: 999;
            }
            .logo {
                margin-left: 46px;
            }
        }
    }

    .navbar-nav {
        background: #2b2e3b;
        width: 100%;
        li {
            padding: 20px 20px;
            a {
                color: #c2c2c2;
            }
        }
    }
}
